.movies {
  background: #343a40;

  .movies--active{
    width: 100%;
    //grid-column: 1/7;
    //display: none;
    grid-column: 1 / 7;
    grid-row: 1;
  }

  .movies--container {
    max-width: 1440px;
    margin: 0 auto;

    .movies--list {
      display: grid;
      grid-template-columns: auto auto auto auto auto auto;
      padding-top: 30px;
      padding-bottom: 30px;
      gap: 10px;
      grid-auto-flow: row;
    }


    .movies--item{
      margin: auto;

    }
  }
}