.header{
  background-color: #3b5bdb;
  .header--top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
  }
  .header--title{
  }
}
